<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <h3>Liste des élèves</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Age</th>
                        <th>Classe</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eleve of eleves">
                        <td>{{eleve.id}}</td>
                        <td>{{eleve.nom}}</td>
                        <td>{{eleve.age}}</td>
                        <td>{{eleve.classe}}</td>
                       
                      
                      
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
